<head>
    <link
      rel="stylesheet"
      href="https://unpkg.com/terminal.css@0.7.2/dist/terminal.min.css"
      />
    {# <link rel="stylesheet" href="/style.css"/> #}
    <title>{{ title }}</title>
  </head>