<head>
  <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.2/dist/terminal.min.css"/>
  <link rel="stylesheet" href="/prism.css">
  <link rel="stylesheet" href="/style.css"/>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <title>{{ title }}</title>
</head>