<!DOCTYPE html>
<html>
  {% include 'head.njk' %}
  <body>
    <section class="container">
      {% include 'nav.njk' %}
      <main>
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </main>
    </section>
  </body>
</html>