<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    {%- for entry in navPages %}
      <li>
        <a href="{{ entry.url | url }}" {% if entry.url == page.url %} class="menu-item active"{% endif %}>{{ entry.title }}</a>
      </li>
    {%- endfor %}
  </ul>
  <hr>
  &copy; 2021 mrnazir.dev
</nav>