<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    {%- for entry in navPages %}
      {% navListItemShortcode entry %}
    {%- endfor %}
  </ul>
  <hr>
  &copy; 2021 mrnazir.dev
</nav>