<!DOCTYPE html>
<html>
  {% include 'head.njk' %}
  <body>
    <div class="container">
      <div class="terminal-logo">
        <div class="logo terminal-prompt">
          <a href="/" class="no-style">mrnazir.dev</a>
        </div>
      </div>
      <div class="component components-grid">
        <aside>
          {% include 'nav.njk' %}
        </aside>
        <main>
          {% if imageSrc %}
          <figure class="figure">
            {% image imageSrc, "figure__image", imageAlt, "(max-width: 300px)" %}
            <figcaption class="figure__caption">{{ imageAttr | safe }}</figcaption>
          </figure>
          {% endif %}
          {{ content | safe }}
        </main>
      </div>
    </div>
    <script>
      if (window.netlifyIdentity) {
        window
          .netlifyIdentity
          .on("init", user => {
            if (!user) {
              window
                .netlifyIdentity
                .on("login", () => {
                  document.location.href = "/admin/";
                });
            }
          });
      }
    </script>
  </body>
</html>