<!DOCTYPE html>
<html>
  {% include 'head.njk' %}
  <body>
    <div class="container">
      <div class="terminal-logo">
        <div class="logo terminal-prompt">
          <a href="/" class="no-style">mrnazir.dev</a>
        </div>
      </div>
      <div class="component components-grid">
        <aside>
          {% include 'nav.njk' %}
        </aside>
        <main>
          {{ content | safe }}
        </main>
      </div>
    </div>
  </body>
</html>