---
layout: layout.njk
eleventyNavigation:
  key: Blog
title: mrnazir.dev
unsplashAttribution: Photo by <a href="https://unsplash.com/@bookblock">Bookblock</a> on <a href="https://unsplash.com/s/photos/journal">Unsplash</a>
  
---

<figure class="figure">
  <img src="/assets/images/bookblock-11-15cYOiQc-unsplash.jpg" alt="Trulli" 
  class="figure__image" loading=lazy>
</figure>

<p>
  <ol class="terminal-toc">
    {%- for post in collections.post -%}
      <li>
        <a href={{post.url}}>{{ post.data.title }}</a>
      </li>
    {%- endfor -%}
  </ol>
</p>

<figcaption class="figure__caption">{{ unsplashAttribution | safe }}</figcaption>