---
layout: layouts/layout.njk
eleventyNavigation:
  key: Blog
title: mrnazir.dev
imgUrl: https://images.unsplash.com/photo-1510922903530-28ecf3f00362
unsplashAttribution: Photo by <a href="https://unsplash.com/@bookblock">Bookblock</a> on <a href="https://unsplash.com/s/photos/journal">Unsplash</a>
  
---
<figure class="figure">
  {% image imgUrl, "figure__image",
  "Jounal on a desk", "(max-width: 300px)"
   %}
  <figcaption class="figure__caption">{{ unsplashAttribution | safe }}</figcaption>
</figure>

<p>
  <ol class="terminal-toc">
    {%- for post in collections.post -%}
      <li>
        <a href={{post.url}}>{{ post.data.title }}</a>
      </li>
    {%- endfor -%}
  </ol>
</p>