---
layout: layouts/layout.njk
eleventyNavigation:
  key: Essays
  order: 3
title: mrnazir.dev
imgUrl: https://images.unsplash.com/photo-1620424393934-04e772be09f4
unsplashAttribution: Photo by <a href="https://unsplash.com/@tingeyinjurylawfirm">Tingey Injury Law Firm</a> on <a href="https://unsplash.com/s/photos/thought">Unsplash</a>
  
---
<figure class="figure">
  {% image imgUrl, "figure__image",
  "Statue of a man thinking", "(max-width: 300px)"
   %}
  <figcaption class="figure__caption">{{ unsplashAttribution | safe }}</figcaption>
</figure>

<p>
  <ol class="terminal-toc">
    {%- for essay in collections.essay -%}
      <li>
        <a href={{essay.url}}>{{ essay.data.title }}</a>
      </li>
    {%- endfor -%}
  </ol>
</p>