---
layout: layout.njk
eleventyNavigation:
  key: Essays
title: mrnazir.dev
unsplashAttribution: Photo by <a href="https://unsplash.com/@tingeyinjurylawfirm">Tingey Injury Law Firm</a> on <a href="https://unsplash.com/s/photos/thought">Unsplash</a>
  
---
<figure class="figure">
  <img src="/assets/images/tingey-injury-law-firm-LJhXYHxPfEY-unsplash.jpg" alt="Flowers in Kashmir" class="figure__image" loading=lazy>
</figure>

<p>
  <ol class="terminal-toc">
    {%- for essay in collections.essay -%}
      <li>
        <a href={{essay.url}}>{{ essay.data.title }}</a>
      </li>
    {%- endfor -%}
  </ol>
</p>

<figcaption class="figure__caption">{{ unsplashAttribution | safe }}</figcaption>