---
layout: layout.njk
title: Imrans Nice Blog
---

<p>
  Wales’ first national poet, Gwyneth Lewis, declares in six-foot letters on the slate facade of Cardiff’s Millennium Centre: “In these stones, horizons sing.” I’m American, but I’ve been listening to Welsh rock for well over 30 years. I first went to Wales as a graduate student in Lampeter, and felt instantly at home in the landscape. Friendships, familiarity with history, legend, even language, all came later, but the West Walian landscape sang to me immediately of belonging. The countryside seemed both familiar and important, even though I’d never been there before. Its hilly, treeless lucidity revealed how the earth had been made, by both men and glaciers. I felt I’d found the key to a map I’d carried in my head since I was a little girl, but because I’d always lived in cluttered places, had never been able to read. And until I could read that map, I’d had no sense of my or my species place on the planet.
</p>
