@import url("satoshi.css");

:root {
  --font-stack: "Satoshi-Regular";
  --mono-font-stack: "Satoshi-Light";
}

.components-grid {
  display: grid;
  grid-column-gap: 1.4em;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

@media only screen and (min-width: 70em) {
  .components-grid {
    grid-template-columns: 3fr 9fr;
  }
}

a.active {
  background-color: var(--primary-color);
  color: var(--invert-font-color);
}

.figure__image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.figure__caption {
  text-align: left;
}
